.mortgage-calc-container {
  margin-top: 40px;
  margin-bottom: 60px;
}
.section-header {
  border-bottom: 1px solid rgb(228, 228, 228);
}
.form-body {
  padding-top: 30px;
}
.field-section {
  padding-bottom: 20px;
}
#mortgageSubmit {
  margin-top: 30px;
  width: 150px;
}