<div class="mortgage-calc-container container">
  <div class="section-header">
    <h4>Mortgage Payment Calculator</h4>
  </div>
  <div class="mortgage-form">
    <form name="mortgageForm" #f="ngForm" (ngSubmit)="onSubmit()" id="mortgageForm">
      <div class="form-body">
        <section>
          <div class="row field-section">
            <div class="col-md-2 field-label">
              <label for="mortgageAmount">*Mortgage Amount</label>
              <span class="bi bi-question-circle-fill more-info-icon"
                ngbTooltip="The amount you expect to borrow from your financial institution" placement="right"
                container="body">
              </span>
            </div>
            <div class="col-md-4 field-element input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" id="mortgageAmount" [ngClass]="{
                  'is-invalid': f.submitted && mortgageAmount.invalid
                }" #mortgageAmount="ngModel" aria-label="Mortgage Amount" [(ngModel)]="formData.mortgageAmount"
                name="mortgageAmount" required type="number" min="0" />
              <div class="invalid-feedback">
                <div class="mortgageAmountError" *ngIf="
                    mortgageAmount.errors && mortgageAmount.errors.required
                  ">
                  Please provide Mortgage Amount
                </div>
              </div>
            </div>
          </div>
          <div class="row field-section">
            <div class="col-md-2 field-label">
              <label for="interestRate">*Interest Rate</label>
              <span class="bi bi-question-circle-fill more-info-icon"
                ngbTooltip="Annual interest rate for this mortgage" placement="right" container="body">
              </span>
            </div>
            <div class="col-md-4 field-element input-group">
              <input type="text" class="form-control" aria-label="Interest Rate" name="interestRate" id="interestRate"
                [ngClass]="{
                  'is-invalid': f.submitted && interestRate.invalid
                }" #interestRate="ngModel" [(ngModel)]="formData.interestRate" required />

              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">%</span>
              </div>
              <div class="invalid-feedback">
                <div class="interestRateError" *ngIf="interestRate.errors && interestRate.errors.required">
                  Please provide Interest Rate
                </div>
              </div>
            </div>
          </div>
          <div class="row field-section">
            <div class="col-md-2 field-label">
              <label for="amortizationPeriodYear">*Amortization Period</label>
              <span class="bi bi-question-circle-fill more-info-icon"
                ngbTooltip="The number of years and months over which you will repay this loan" placement="right"
                container="body">
              </span>
            </div>
            <div class="col-md-2 field-element">
              <select class="custom-select" name="amortizationPeriodYear" id="amortizationPeriodYear"
                [(ngModel)]="formData.amortizationPeriodYear">
                <option *ngFor="let option of amortizationPeriodYearOptions" [value]="option">
                  {{ option > 1 ? option + " Years" : option + " Year" }}
                </option>
              </select>
            </div>
            <div class="col-md-2 field-element">
              <select class="custom-select" name="amortizationPeriodMonth" id="amortizationPeriodMonth"
                [(ngModel)]="formData.amortizationPeriodMonth">
                <option value=""></option>
                <option *ngFor="let option of amortizationPeriodMonths" [value]="option">
                  {{
                    option && option != 1
                      ? option + " Months"
                      : option + " Month"
                  }}
                </option>
              </select>
            </div>
          </div>
          <div class="row field-section">
            <div class="col-md-2 field-label">
              <label for="paymentFrequency">*Payment Frequency</label>
            </div>
            <div class="col-md-4 field-element">
              <select class="custom-select" [(ngModel)]="formData.paymentFrequency" id="paymentFrequency"
                name="paymentFrequency">
                <option *ngFor="let option of paymetOptions" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>
            </div>
          </div>
          <div class="row field-section">
            <div class="col-md-2 field-label">
              <label for="term">*Term</label>
              <span class="bi bi-question-circle-fill more-info-icon" ngbTooltip="The number of term years"
                placement="right" container="body">
              </span>
            </div>
            <div class="col-md-2 field-element">
              <select class="custom-select" [(ngModel)]="formData.term" id="term" name="term">
                <option *ngFor="let option of termYearOptions" [value]="option">
                  {{ option > 1 ? option + " Years" : option + " Year" }}
                </option>
              </select>
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"> 
          <button class="submit-button btn btn-primary" aria-label="Calculate" type="submit" id="mortgageSubmit">
            Calculate
          </button>
        </div>
      </div>
    </form>
  </div>
  <app-mortgage-summary [summaryInfo]="summaryInfo"></app-mortgage-summary>
</div>